.page-template-explore {
  &.admin-bar {
    .explore-overlay {
      top: 200px;
    }
  }

  .grecaptcha-badge {
    display: none;
  }

  .explore-overlay {
    background: rgba(255, 255, 255, 0.77);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 160px;
    width: 100%;
    z-index: 2;

    .you-died-message {
      display: none;
      left: 50%;
      max-width: 400px;
      position: absolute;
      text-align: center;
      top: 30%;
      transform: translate(-50%, -50%);
      width: 100%;

      &.engage {
        display: block;
      }
    }

    .greeting-message {
      display: none;
      left: 50%;
      max-width: 400px;
      position: absolute;
      text-align: center;
      top: 30%;
      transform: translate(-50%, -50%);
      width: 100%;

      &.engage {
        display: block;
      }

      #engage-explore {
        display: none;
        opacity: 0;
        margin: 20px auto;
        padding: 10px 20px;
        transition: all .5s;

        &.engage {
          display: block;
          opacity: 1;
        }
      }

      .character-choice {
        cursor: pointer;
        display: flex;

        .character-item {
          cursor: pointer;
          width: 25%;

          img {
            height: auto;
            width: 100%;

            &.engage {
              border: 5px dotted $light_blue;
            }
          }

          small {
            color: green;
            font-weight: 600;
          }
        }
      }

      button {
        margin-top: 15px;
      }
    }

    &.engage {
      display: block;
    }
  }
  .container {
    background: url("../../src/images/orbem-map.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    height: 4517px;
    overflow: hidden;
    position: relative;
    width: 5000px;

    #return-to-map {
      cursor: pointer;
      display: none;
      position: fixed;
      right: 40px;
      top: 40px;
      z-index: 99999;

      @media only screen and (max-width: 480px) {
        right: 10px;
        top: 10px;
      }

      &.engage {
        display: block;
      }
    }

    &.gillimank {
      background: url("../../src/images/gillimank.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left top;
      height: 2250px;
      width: 3000px;
    }

    #leave-map {
      display: none;
      opacity: 0;
      position: fixed;
      right: 40px;
      top: 40px;
      z-index: 99999;

      @media only screen and (max-width: 480px) {
        right: 10px;
        top: 10px;
      }

      &.engage {
        display: block;
        opacity: 1;
      }
    }

    #sound-control {
      bottom: 40px;
      cursor: pointer;
      height: 50px;
      opacity: 0;
      position: fixed;
      right: 40px;
      width: 50px;
      z-index: 99999;

      &:before {
        background: url('../../src/images/sound-on.svg') no-repeat 100%;
        background-size: 100% 100%;
        content: '';
        height: 40px;
        left: 0;
        position: absolute;
        top: 0;
        width: 40px
      }

      &.mute {
        &:before {
          background: url('../../src/images/sound-off.svg') no-repeat 100%;
          background-size: 100% 100%;
          width: 28px;
        }
      }

      @media only screen and (max-width: 480px) {
        right: 10px;
        bottom: 10px;
      }
    }

    #explore-points {
      left: 10px;
      opacity: 0;
      position: fixed;
      top: 40px;
      z-index: 99999;

      .point-amount {
        color: #000;
        font-size: inherit;
        font-weight: normal;
        transition: all .5s;

        &.engage {
          color: gold;
          font-size: 20px;
          font-weight: 600;
        }
      }

      @media only screen and (max-width: 480px) {
        left: 10px;
        top: 0;
      }
    }

    #key-guide {
      bottom: 40px;
      opacity: 0;
      position: fixed;
      right: -240px;
      transition: opacity .6s;
      width: 200px;
      z-index: 99999;

      img {
        width: 100%;
      }

      &.engage {
        @media only screen and (min-width: 480px) {
          opacity: .8;
          right: 40px;
        }
      }
    }

    .map-item {
      position: absolute;
      z-index: 1;

      .map-item-modal {
        background: #fff;
        border-radius: 55px;
        display: none;
        font-size: 14px;
        opacity: 0;
        right: 0;
        padding: 22px;
        position: absolute;
        top: 0;
        transform: translate(80%, -80%);
        transition: all .5s;
        width: 200px;

        &.engage {
          display: block;
        }

        &:before {
          border-top: 20px solid #fff;
          border-left: 0px solid transparent;
          border-right: 36px solid transparent;
          content: "";
          left: 20px;
          position: absolute;
          top: 91%;
          width: 0;
        }
      }

      &.engage {
        .map-item-modal {
          opacity: 1;

          @media only screen and (max-width: 480px) {
            right: 122px;
            top: -66px;
          }
        }
      }
    }

    div[data-map-item-area] {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;

      &[data-map-item-area="gillimank"] {
        .map-item {
          &.orbem-academy-map-item {
            height: 200px;
            left: 1111px;
            top: 955px;
            width: 200px;
          }

          &.froshile-map-item {
            background: url('../../src/images/froshile-avatar.gif');
            background-size: contain;
            height: 100px;
            left: 1000px;
            top: 600px;
            width: 100px;
          }
        }
      }
    }

    .default-map {
      .enter-position {
        opacity: 0;
        transition: all .5s;
        position: relative;
        z-index: 99999;

        &.engage {
          opacity: 1;
        }

        &[data-position="caninth-village"] {
          left: 260px;
          top: 3445px;

          @media only screen and (max-width: 480px) {
            left: 2215px;
          }
        }

        &[data-position="spinebeck"] {
          left: 733px;
          top: 2943px;
          @media only screen and (max-width: 480px) {
            left: 2688px;
          }
        }

        &[data-position="wonderland"] {
          left: 547px;
          top: 3264px;
          @media only screen and (max-width: 480px) {
            left: 2502px;
          }
        }

        &[data-position="gillimank"] {
          left: -277px;
          top: 1909px;
          @media only screen and (max-width: 480px) {
            left: 1733px;
          }
        }
      }

      .map-item {
        position: absolute;
        z-index: 1;

        &.forno-map-item {
          background: url('../../src/images/forno-avatar.gif');
          background-size: contain;
          height: 100px;
          left: 2354px;
          top: 3527px;
          width: 100px;
        }

        &.ioana-map-item {
          background: url('../../src/images/ioana-avatar.gif');
          background-size: contain;
          height: 100px;
          left: 2642px;
          top: 1743px;
          width: 100px;
        }

        &.scarlett-map-item {
          background: url('../../src/images/scarlett-avatar.gif');
          background-size: contain;
          height: 100px;
          left: 3186px;
          top: 2477px;
          width: 100px;
        }

        &.barracks-map-item {
          background: url('../../src/images/barracks.png');
          height: 130px;
          left: 2242px;
          top: 3782px;
          width: 89px;
        }

        &.caninth-village-map-item {
          background: url('../../src/images/caninth-village.png');
          height: 112px;
          left: 2351px;
          top: 3332px;
          width: 151px;
        }


        &.aster-farm-map-item {
          background: url('../../src/images/ranch.png');
          height: 82px;
          left: 2642px;
          top: 2043px;
          width: 90px;
        }

        &.gillimank-map-item {
          left: 1697px;
          top: 1952px;
        }

        &.wonderland-map-item {
          left: 2702px;
          top: 3124px;
        }

        &.deathwood-manor-map-item {
          left: 1678px;
          top: 3041px;
        }

        &.pool-map-item {
          background: url('../../src/images/pool.png');
          height: 99px;
          left: 2135px;
          top: 2394px;
          width: 81px;
        }

        &.spinebeck-map-item {
          left: 2737px;
          top: 2819px;
        }

        img {
          width: 100px;
        }
      }
    }

    #map-character {
      height: 100vh;
      position: absolute;
      width: 90vw;
      z-index: 8;

      &:before {
        bottom: 30%;
        content: '+50pts';
        color: gold;
        left:47.5%;
        opacity: 0;
        position: absolute;
        transition: all .8s;
        z-index: 9;
      }

      &.point {
        &:before {
          bottom: 50%;
          opacity: 1;
        }
      }

      &.over {
        &:before {
          opacity: 0;
        }
      }

      @media only screen and (max-width: 480px) {
        max-width: 100%!important;
      }

      img {
        height: 100px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
      }

      @media only screen and (max-width: 480px) {
        left: calc(50vw - 50px);
        transform: translate(0, -50%);
      }
    }

    .touch-buttons {
      display: flex;
      flex-wrap: wrap;
      height: 100vh;
      left: 0;
      max-width: 100%!important;
      opacity: 0;
      position: fixed;
      top: 0;
      transition: all .5s;
      width: 100%;
      z-index: -1;

      &.do-mobile {
        @media only screen and (max-width: 480px) {
          z-index: 9;
        }
      }

      &.engage {
        @media only screen and (max-width: 480px) {
          opacity: .4;
          z-index: 99;
        }
      }

      span {
        width: 33%;
        height: 33%;
        position: relative;

        &:before {
          background-size: contain!important;
          content: '';
          height: 140px;
          left: 30%;
          position: absolute;
          top: 10%;
          width: 30px;
        }

        &:first-child {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(125deg);
          }
        }
        &:nth-child(2) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(180deg);
          }
        }
        &:nth-child(3) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(225deg);
          }
        }
        &:nth-child(4) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;

            transform: rotate(90deg);
          }
        }
        &:nth-child(6) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(270deg);
          }
        }
        &:nth-child(7) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(45deg);
          }
        }
        &:nth-child(8) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
          }
        }
        &:nth-child(9) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(315deg);
          }
        }
      }
    }
  }
}
