.page-template-explore {
  &.admin-bar {
    .explore-overlay {
      top: 200px;
    }
  }

  .grecaptcha-badge {
    display: none;
  }

  .explore-overlay {
    background: rgba(255, 255, 255, 0.77);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 160px;
    width: 100%;
    z-index: 2;

    .greeting-message {
      left: 50%;
      max-width: 400px;
      position: absolute;
      text-align: center;
      top: 30%;
      transform: translate(-50%, -50%);
      width: 100%;

      #engage-explore {
        opacity: 0;
        transition: all .5s;

        &.engage {
          opacity: 1;
        }
      }

      .character-choice {
        cursor: pointer;
        display: flex;

        .character-item {
          cursor: pointer;
          width: 25%;

          img {
            height: auto;
            width: 100%;

            &.engage {
              border: 5px dotted $light_blue;
            }
          }
        }
      }

      button {
        margin-top: 15px;
      }
    }
  }
  .container {
    background: url("../../src/images/orbem-map.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 5000px;
    position: relative;
    width: 5000px;

    #leave-map {
      opacity: 0;
      position: fixed;
      right: 40px;
      top: 40px;
      z-index: 99999;
    }

    #key-guide {
      bottom: 40px;
      opacity: 0;
      position: fixed;
      right: -240px;
      transition: opacity .6s;
      width: 200px;
      z-index: 99999;

      img {
        width: 100%;
      }

      &.engage {
        @media only screen and (min-width: 480px) {
          opacity: .8;
          right: 40px;
        }
      }
    }

    .map-item {
      position: absolute;

      &:before {
        background: url("../../src/images/indicator.gif") no-repeat;
        background-size: 100%;
        content: '';
        height: 42px;
        left: 0;
        position: absolute;
        top: 0;
        width: 60px;
      }

      &.gillimank-map-item {
        left: 1693px;
        top: 2249px;
      }

      &.pool-map-item {
        left: 2102px;
        top: 2700px;
      }

      &.spinebeck-map-item {
        left: 2702px;
        top: 3100px;
      }

      img {
        width: 100px;
      }

      .map-item-modal {
        background: #fff;
        border-radius: 55px;
        font-size: 14px;
        opacity: 0;
        right: 0;
        padding: 22px;
        position: absolute;
        top: 0;
        transform: translate(80%, -80%);
        transition: all .5s;
        width: 200px;

        &:before {
          border-top: 20px solid #fff;
          border-left: 0px solid transparent;
          border-right: 36px solid transparent;
          content: "";
          left: 20px;
          position: absolute;
          top: 91%;
          width: 0;
        }
      }

      &.engage {
        .map-item-modal {
          opacity: 1;
        }
      }
    }

    #map-character {
      height: 100vh;
      position: absolute;
      width: 90vw;

      @media only screen and (max-width: 480px) {
        max-width: 100%!important;
      }

      img {
        height: 100px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
      }

      @media only screen and (max-width: 480px) {
        left: calc(50vw - 50px);
        transform: translate(0, -50%);
      }
    }

    .touch-buttons {
      display: flex;
      flex-wrap: wrap;
      height: 100vh;
      left: 0;
      max-width: 100%!important;
      opacity: 0;
      position: fixed;
      top: 0;
      transition: all .5s;
      width: 100%;
      z-index: -1;

      &.engage {
        @media only screen and (max-width: 480px) {
          opacity: .4;
        }
      }

      span {
        width: 33%;
        height: 33%;
        position: relative;

        &:before {
          background-size: contain!important;
          content: '';
          height: 140px;
          left: 30%;
          position: absolute;
          top: 10%;
          width: 30px;
        }

        &:first-child {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(125deg);
          }
        }
        &:nth-child(2) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(180deg);
          }
        }
        &:nth-child(3) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(225deg);
          }
        }
        &:nth-child(4) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;

            transform: rotate(90deg);
          }
        }
        &:nth-child(6) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(270deg);
          }
        }
        &:nth-child(7) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(45deg);
          }
        }
        &:nth-child(8) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
          }
        }
        &:nth-child(9) {
          &:before {
            background: url('../../src/images/sword-arrow.png') no-repeat;
            transform: rotate(315deg);
          }
        }
      }
    }
  }
}