footer {
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  max-width: 1200px;
  padding-top: 10px;
  text-align: center;
  width: 100%;

  .menu-footer-container {
    vertical-align: top;

    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin-top: 0;
      width: 300px;

      li {
        a {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}
