.post-type-page, .post-type-explore-area {
  .map-item {
    border: 2px dashed #000;
  }

  .graeme {
    background: $light_blue;
  }

  .sionnah {
    background: #83d083;
  }

  .corinder {
    background: #c3c3c3;
  }

  .koromere {
    background: #a476a4;
  }
}