html {
  overflow-x: hidden;
  width: 100%;

  body {
    font-family: $font__main;
    margin: 0;
    overflow-x: hidden;
    width: 100%;

    &.page-template-explore {
      overflow-x: scroll;
    }

    img {
      height: 100%;
    }
  }
}