#primary {
  .container {
    margin-top: 40px;
    &>div:not(.wp-block-cover):not(.wpcf7):not(.container),
    &>h1,
    &>h2,
    &>h3,
    &>p,
    &>ol,
    &>article,
    &>nav,
    &>figure {
      margin: auto;
      max-width: 1044px;

      @media only screen and (max-width: 480px) {
        margin: 15px;
      }
    }

    .container {
      &.sub-post-section{
        background: #efefef;
        padding: 10px;
      }
    }

    .single & {
      nav {
        padding-bottom: 20px;
      }

      #respond {
        margin-top: -20px;
      }

      #comments {
        margin-top: 20px;
      }

      article {
        display: flex;
        flex-wrap: wrap;

        header {
          width: 100%;
        }
        .entry-content {
          margin-right: 1%;
          width: 49%;
        }
        .feature-image {
          width: 50%;

          img {
            width: 100%;
          }
        }
      }
    }

    p {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    h1 {
      margin-bottom: 30px;
      text-decoration: underline;
    }

    .home & {
      margin-top: 20px;
    }
  }
}

html {
  min-height: 100%;
  position: relative;

  body.single {
    height: 100%;

    &:before {
      background: url('../../src/images/black-smoke.png') no-repeat 100%;
      background-size: cover;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 230px;
      z-index: -1;
    }

    &:after {
      background: url('../../src/images/black-smoke.png') no-repeat 100%;
      background-size: cover;
      content: "";
      height: 100%;
      right: 0;
      position: absolute;
      top: 0;
      transform: rotateY(180deg);
      width: 230px;
      z-index: -1;
    }
  }
}

@import "./pages/explore";
@import "./pages/art";
@import "./pages/market";
