.blog {
  .news-header {
    background: url('../../src/images/tree-top.png');
    width: 100%;
    height: 20vw;
    background-size: 100%;
    background-position: 0 94%;
    background-repeat: no-repeat;
    margin-bottom: -160px;
    z-index: 1;
    position: relative;
    text-align: center;

    @media (max-width: $small) {
      height: 39vw;
    }

    h1 {
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
      color: #fff;
      width: 100%;
    }
  }

  .container {
    margin: auto;
    max-width: 600px;

    .post-thumb {
      max-width: 400px;
      img {
        width: 100%;
      }
    }

    .post-list {
      padding-left: 2.25rem;
      padding-top: 6rem;
      position: relative;

      @media (max-width: $small) {
        padding-top: 6.5rem;
      }

      &::before {
        background: url('../../src/images/tree-long.png');
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        height: 100%;
        left: -25rem;
        padding-bottom: 7.25rem;
        position: absolute;
        top: -3rem;
        width: 26rem;

        @media (max-width: $small) {
          left: -25rem;
          top: -2rem;
        }
      }

      .post-item {
        margin-bottom: 5rem;
        position: relative;

        &::after {
          background: url('../../src/images/straight-branch.svg');
          background-size: 100%;
          background-repeat: no-repeat;
          bottom: -5rem;
          content: '';
          height: 56px;
          left: -50px;
          position: absolute;
          width: 100%;
        }

        &:nth-child(odd) {
          &::after {
            background: url('../../src/images/straight-branch-2.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            bottom: -4rem;
            height: 48px;
          }
        }
      }
    }
  }
}

.single {
  nav {
    padding-bottom: 20px;
  }

  #respond {
    margin-top: -20px;
  }

  #comments {
    margin-top: 20px;
  }

  &.single-post {
    .entry-content {
      margin-right: 1%;
      max-width: 1000px;
      width: 100%;

      @media (max-width: $small) {
        max-width: 300px;
        margin: auto;

        img {
          max-width: 300px;
        }
      }
    }

    header {
      text-align: left;

      @media (max-width: $small) {
        text-align: center;
      }
    }
  }

  article {
    display: flex;
    flex-wrap: wrap;

    header {
      text-align: center;
      width: 100%;
    }

    .entry-content {
      width: 100%;
    }

    .wp-post-image {
      max-height: 300px;
      object-fit: cover;
    }
  }
}